@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

$font-family: "Comic Neue", cursive;
$root-font-size: 14px;

$nav-offset: 30px;

$color-1: #333;
$color-2: #eee;
$color-3: #fff;
$button-color: #999;
$text-shadow: #f400a1;
